@{
    ViewBag.Title = "Index";

}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="dogApp">
<head>
</head>
<body>

    <span style="cursor:pointer" ui-sref="home.walk">walk</span>
    <span> | </span>
    <span style="cursor:pointer" ui-sref="home.employee">employees</span>
    <hr />

    <div ui-view id="mainContent" ng-controller="MainCtrl">
    </div>

   
    <script src="signalr/hubs"></script>
    <script>
        var app = angular.module('dogApp', ['ui.router', 'ngSanitize', 'Home', 'Walk', 'Employee']);
        app.constant('appBaseUrl', '@ViewBag.AppBaseUrl');
        app.constant('apiUrl', '@ViewBag.ApiUrl');
    </script>
    <!-- angular module scripts -->
    <script src="~/app/app.js" type="text/javascript"></script>
    <script src="~/app/Home/Home.js" type="text/javascript"></script>
    <script src="~/app/Walk/Walk.js" type="text/javascript"></script>
    <script src="~/app/Employee/Employee.js" type="text/javascript"></script>
</body>
</html>
