@inherits System.Web.Mvc.WebViewPage

<p ng-show="check">I'm at home</p>
<p ng-show="!check">I'll take a walk</p>
<a ng-if="$state.current.name=='home'" ui-sref="home.walk">walk controller</a>
<a ng-if="$state.current.name=='home'" ui-sref="home.employee">employee controller</a>
<div ui-view="" ng-controller="homeController"></div>