@inherits System.Web.Mvc.WebViewPage

<div class="form-horizontal">
    <h4>Employee</h4>
    <div class="col-lg-12 form-group">
        <button class="btn btn-sm btn-success" type="submit" data-ng-click="addEmpl()">Add</button>
        <button class="btn btn-sm btn-success" type="submit" ng-disabled="number<2" data-ng-click="subtractEmpl()">Subtract</button>
        <button class="btn btn-sm btn-success" type="submit" ng-disabled="number<1" data-ng-click="addSubtractEmpl()">Add & Subtract</button>
    </div>

    <div class="col-lg-12 form-group">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        First name
                    </th>
                    <th>
                        Last name
                    </th>
                    <th>
                        Address
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="empl in employees">
                    <td ng-bind="empl.firstName"></td>
                    <td ng-bind="empl.lastName"></td>
                    <td ng-bind="empl.address"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-12 form-group">
        <b>{{number}}</b> employees <b ng-if="timer"> WAIT</b>
    </div>

</div>